html{
    height: 100%;
}
img{
    background-size:contain|cover;
    width:100%;
    max-width:100%;
    height: auto;
    max-height:100%;/*背景填充*/

}
.touxiang{
    width:150px;
    height:150px;
    border-radius:50%;
    overflow: hidden;
    border: 4px solid black;/*头像变圆来着*/
    position: fixed;
    left: 25%;top: 35%;/*在屏幕的位置*/
}
body{
    margin: 0;/*网页白边为0*/
    padding: 0;
    background-attachment: fixed;
    overflow: hidden;/*固定屏幕*/
    height: 100%;
}
p{
    position: fixed;
    left: 50%;top: 35%;
    font-size: 30px;color: aqua;
}
.background{
    opacity: 80%;/*透明度*/
    height: 100%;
}